# DATABASE
DATABASE_URL=""

# REDIS
REDIS_URL=""

# AUTH
JWT_SECRET=""
JWT_EXPIRES_IN="7d"
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRES_IN="30d"

# CORS
CORS_ORIGIN="http://localhost:3000"

# SERVER
PORT="3001"
NODE_ENV="development"
